<!DOCTYPE html>
<html ng-app="grafffApp">
<head>
  <title>Grafff</title>
  <!-- <base href="/test/"> -->
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>  
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <h3><%= link_to 'grafff', root_path, target: "_self" %></h3>
    <form ng-controller="SearchController" ng-submit="searchUsers()">
      <input placeholder="Search users and artists" ng-model="query">
    </form>
    <div class="container">
      <% if user_signed_in? %>
        <li><my-profile-link></my-profile-link></li>
        <li><%= link_to "Edit account", edit_user_registration_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Log in", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </div>
  </nav>
   
  <% if !user_signed_in? %>
    <%= yield %>
  <% elsif current_page? edit_user_registration_path %>
    <%= yield %>
  <% elsif user_signed_in? %>
    <ng-view></ng-view>
  <% end %>
</body>
</html>
