<!DOCTYPE html>
<html ng-app="grafffApp">
<head>
  <title>Grafff</title>
  <base href="/test/">
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>  
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <% if user_signed_in? %>
        <li><%= link_to "Edit account", edit_user_registration_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </div>
  </nav>
   
  <% if !user_signed_in? %>
    <%= yield %>
  <% end %>
   
  <% if user_signed_in? %>
    <%= yield %>
    <ng-view></ng-view>
  <% end %>

</body>
</html>
