<!DOCTYPE html>
<html ng-app="grafffApp">
<head>
  <title>Grafff</title>
  <%= include_gon %>
  <%= stylesheet_link_tag 'application' %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application' %>
  <script src="//maps.google.com/maps/api/js"></script>
  <%= csrf_meta_tags %>
</head>

<body ng-controller="MainController">
  <% if user_signed_in? %>
    <nav>
      <%= link_to image_tag('grafff_spray_logo.png'), root_path, target: "_self", id: "logo" %>
      <form ng-submit="searchUsers()" ng-if="currentUser">
        <i class="fa fa-search"></i>
        <input id="search-input" placeholder="Search users and artists">
      </form>
      <% if user_signed_in? %>
        <ul>
          <li class="signed-in"><a ng-href="#/users/{{ ::currentUser.id }}" ng-if="currentUser"><img ng-src="{{ ::currentUser.profile_pic.url }}" class="nav-profile-pic"> {{ ::currentUser.username }}</a></li>
          <li class="signed-in"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul>
          <li><%= link_to "Log in", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        </ul>
      <% end %>
    </nav>
  <% end %>
  
  <div id="main-content">
    <% if !user_signed_in? %>
      <%= yield %>
    <% elsif current_page? edit_user_registration_path %>
      <%= yield %>
    <% elsif user_signed_in? %>
      <ng-view autoscroll="true"></ng-view>
    <% end %>
  </div>
</body>
</html>
